:root {
    --blue: #78b7d7;
    --light-blue: #94b7c2;
    --turquoise: #006070;
}


@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

    section {
        color: var(--turquoise);
        height: 100vh;

        header {
            height: 7rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 3%;
            padding: 1rem 0;

            .title {
                text-transform: uppercase;
                width: 70%;
                padding-left: 1rem;
                font-size: 1.5rem;

                .mainTitle {
                    font-size: 2rem;
                    font-weight: 600;
                    margin-bottom: 0.5rem;
                }

                .subTitle {
                    font-size: 2rem;
                }
            }

            .svgLogoLeft {
                width: 15%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }

                .logoSully {
                    display: none;
                }
            }

            .svgLogoRight {
                width: 15%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .container {
            height: fit-content;
            display: flex;

            .descriptionContainer {
                width: 70%;
                height: fit-content;
                min-height: calc(100vh - 7rem);

                .carouselContainer {
                    background-image: url('../assets/2021-01-08-chalets-monetier-sans-logo.jpg');
                    background-size: cover;
                    background-position: center;
                    height: 50vh;
                    position: relative;

                    .textImage {
                        background-color: rgba(0, 96, 112, 0.9);
                        height: fit-content;
                        width: fit-content;
                        padding: 1.5rem;
                        position: absolute;
                        top: 5%;

                        p {
                            font-size: 1.2rem;
                            color: white;
                            text-transform: uppercase;
                            font-weight: 600;
                        }
                    }

                    .arrowLeft {
                        position: absolute;
                        top: 50%;
                        left: 1%;
                        font-size: 4rem;
                        color: white;
                        font-weight: 200;
                    }

                    .arrowRight {
                        position: absolute;
                        top: 50%;
                        right: 1%;
                        font-size: 4rem;
                        color: white;
                        font-weight: 200;
                    }

                    .arrowLeft:hover,
                    .arrowRight:hover {
                        cursor: pointer;
                    }

                }

                .textContainer {
                    padding: 2rem;
                    height: fit-content;

                    .title {
                        font-size: 1.5rem;
                        font-weight: 600;
                        text-transform: uppercase;
                    }

                    .subtitle {
                        font-size: 1.5rem;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: var(--light-blue);
                    }

                    .text {
                        font-family: 'Montserrat', sans-serif;
                        font-size: 0.9rem;
                        margin: 1rem;
                    }
                }
            }

            .formContainer {
                width: 30%;
                background-color: var(--blue);
                height: fit-content;
                min-height: calc(100vh - 7rem);

                form {
                    width: 100%;
                    height: fit-content;

                    .title {
                        font-size: 1.3rem;
                        font-weight: 600;
                        text-align: center;
                        padding: 1rem;
                        margin-top: 1rem;
                        color: white;
                        text-transform: uppercase;
                        width: 100%;
                        height: fit-content;
                    }

                    .fields {
                        width: 100%;
                        padding: 2rem;


                        .field {
                            margin-bottom: 0.7rem;
                            width: 100%;
                            padding: 0.5rem;
                            border: none;
                            border-bottom: 1px solid white;
                            background-color: transparent;
                            font-size: 1rem;
                            color: var(--turquoise);

                            &::placeholder {
                                color: var(--turquoise);
                                font-style: italic;
                            }

                        }

                        .field:focus {
                            outline: none;
                        }

                        .field.error {
                            border-bottom: 1px solid #ce3030;
                        }

                        .item.error .error-txt {
                            display: block;
                        }

                        .error-txt {
                            display: none;
                            color: #ce3030;
                            font-size: 0.8rem;
                            margin: -0.2rem 0 0.5rem;
                        }
                    }

                    .radioBoxes {
                        padding: 0 2rem 0.5rem;
                        color: white;


                        .radioBox {
                            display: inline-block;
                            position: relative;
                            padding: 0 6px;
                            margin: 10px 0 0;

                            input[type='radio'] {
                                display: none;
                            }

                            label:before {
                                content: " ";
                                display: inline-block;
                                position: relative;
                                top: 2px;
                                margin: 0 5px 0 0;
                                width: 16px;
                                height: 16px;
                                border-radius: 11px;
                                border: 1px solid white;
                                background-color: transparent;
                            }


                            input[type=radio]:checked+label:after {
                                content: " ";
                                display: block;
                                border-radius: 11px;
                                width: 10px;
                                height: 10px;
                                position: absolute;
                                top: 6px;
                                left: 10px;
                                background: white;
                            }

                        }

                        .error-txt {
                            display: none;
                            color: #ce3030;
                            font-size: 0.8rem;
                            margin: 0.5rem 0 0.2rem;
                        }
                    }

                    .radioBoxes.error .error-txt {
                        display: block;
                    }

                    .contact {
                        width: 100%;
                        padding-left: 2rem;
                        font-size: 1rem;
                    }

                    .checkBox {
                        height: fit-content;
                        padding: 0.5rem 2rem 0;

                        .checkboxContainer {
                            display: flex;
                            flex-direction: row;

                            .text {
                                color: var(--turquoise);
                                font-size: 0.7rem;
                                padding: 0 0 0 5px;
                            }

                            input[type='checkbox'] {
                                display: none;
                            }

                            label {
                                position: relative;
                            }

                            label:before {
                                content: " ";
                                display: inline-block;
                                position: relative;
                                top: 2px;
                                margin: 0 5px 0 0;
                                width: 16px;
                                height: 16px;
                                border: 1px solid white;
                                background-color: transparent;
                            }


                            input[type=checkbox]:checked+label:after {
                                content: " ";
                                display: inline-block;
                                position: absolute;
                                top: 5px;
                                left: 3px;
                                margin: 0 5px 0 0;
                                width: 10px;
                                height: 10px;
                                border: 1px solid white;
                                background-color: white;
                            }

                        }


                        .error-txt {
                            display: none;
                            color: #ce3030;
                            font-size: 0.8rem;
                            margin: 0.4rem 0 0.2rem;
                        }
                    }

                    .checkBox.error .error-txt {
                        display: block;
                    }

                    .formSubmit {
                        width: 100%;
                        padding: 3rem;
                        text-align: center;

                        button {
                            width: 100%;
                            padding: 1rem;
                            border: none;
                            background-color: white;
                            color: var(--turquoise);
                            font-size: 1rem;
                            text-transform: uppercase;
                            font-weight: 600;
                        }

                        button:hover {
                            cursor: pointer;
                        }
                    }

                    .nbText {
                        font-size: 0.5rem;
                        text-align: center;
                        width: 100%;
                        margin-bottom: 1rem;
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 768px) {
    section {
        header {
            display: block;
            height: 15rem;
            justify-content: normal;
            gap: 1rem;

            .svgLogoLeft {
                height: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 1rem;


                img {
                    padding: 0.1rem;
                }

                .logoSully {
                    display: block;
                }
            }

            .title {
                width: 100%;
                text-align: center;

                .mainTitle {
                    font-size: 1.5rem;
                }

                .subTitle {
                    font-size: 1rem;
                }

            }

            .svgLogoRight {
                display: none;
            }
        }

        .container {
            flex-direction: column;

            .descriptionContainer {
                width: 100%;
                height: fit-content;


                .carouselContainer {
                    margin: 5% 0;

                    .textImage {
                        top: 10%;
                    }
                }

                .textContainer {
                    padding: 1.5rem;
                }
            }

            .formContainer {
                width: 100%;
                height: fit-content;
                min-height: auto;

                form {
                    .title {
                        padding: 0.5rem;
                    }

                    .fields {
                        padding: 1rem;

                        .field {
                            padding: 0.5rem;
                        }

                        .radioBoxes {
                            padding: 0 1rem 0.5rem;
                        }

                        .contact {
                            padding-left: 1rem;
                        }

                        .checkBox {
                            padding: 0.5rem 1rem 0;
                        }

                        .formSubmit {
                            padding: 1rem;
                        }
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 1024px) and (min-width: 769px) {
    section {
        header {
            justify-content: normal;
            gap: 1rem;

            .svgLogoLeft {
                height: fit-content;
                width: 9%;

                img {
                    padding: 0.1rem;
                }

                .logoSully {
                    display: block;
                }
            }

            .title {
                width: 90%;

                .mainTitle {
                    font-size: 2rem;
                }

                

            }

            .svgLogoRight {
                display: none;
            }
        }

        .container {
            flex-direction: column;

            .descriptionContainer {
                width: 100%;
                height: fit-content;
                min-height: auto;


                .carouselContainer {
                    margin: 5% 0;

                    .textImage {
                        top: 10%;
                    }
                }

                .textContainer {
                    padding: 1.5rem;
                }
            }

            .formContainer {
                width: 100%;
                height: fit-content;
                min-height: auto;

                form {
                    .title {
                        padding: 0.5rem;
                    }

                    .fields {
                        padding: 1rem;

                        .field {
                            padding: 0.5rem;
                        }

                        .radioBoxes {
                            padding: 0 1rem 0.5rem;
                        }

                        .contact {
                            padding-left: 1rem;
                        }

                        .checkBox {
                            padding: 0.5rem 1rem 0;
                        }

                        .formSubmit {
                            padding: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    section {
        header {
            .title {
                .subTitle {
                    font-size: 1.5rem;
                }
            }
        }
    }
}